.rooms, .cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2%;
    padding: 2%;
}

.room {
    width: 25%;
    height: 40%;
    min-width: 200px;
    min-height: 120px;
    margin: 5%;
    background: white;
    border: solid;
    position: relative;
}

.temperature {
    position: absolute;
    bottom: 1%;
    right: 1%;
    text-align: right;
    font-weight: bold;
}
/*
.card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}*/